{% extends "base.html" %}
{% load static %}
{% load get_decimal %}

<!-- Extend for more links/styles -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<section class="home-section">
  <h1 class="text-center home-heading">Yugioh Cards</h1>
  <ul class="d-flex flex-row flex-wrap justify-content-start bd-highlight item-display">
    {% for product in products %}
    <li>
      <div class="image-background">
        <img src="{{ product.image.url }}" alt="" />
      </div>
      <div class="card-text">
        <h3>{{ product.name }}</h3>
        <div>
          <p class="a-price">
            <span class="a-price-symbol">$</span>{{product.price|floatformat:"0"}}<span class="a-price-cent">{{product.price|get_decimal}}</span>
          </p>
        </div>
      </div>
    </li>
    {% endfor %}
    
  </ul>
</section>
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}{% endblock %}