{% extends "base.html" %}
{% load static %}
{% load get_decimal %}
{% load get_int %}

{% block title %}Yugioh Game Card Trading - Product Detail | {{product.name}} {% endblock %}

<!-- Extend for more links/styles -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<section class="product-detail">
  <div class="product-row">
    <div class="product-column left">
      <img src={{ product.image.url }} />
    </div>
    <div class="product-column right product-text">
      <div>
        <h2>{{product.name}}</h2>
        <p class="a-price">
          Price: <span class="a-price-symbol">$</span>{{product.price|get_int}}<span class="a-price-cent">{{product.price|get_decimal}}</span>
        </p>
      </div>
    </div>
    <div>
      <button id="add-to-cart" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</section>
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}
<script>
  $("#add-to-cart").off('click').click(function () {

    console.log('hello')

    $.ajax({
      type: 'POST',
      url: "{% url 'main:product-add-cart' id=product.id %}",
      data: { 
        'csrfmiddlewaretoken': '{{csrf_token}}'
      },
      dataType: "json",
    })
    .then(function() {
      alert('{{ product.name }} was added to Shopping Cart')
    });

  })
</script>
{% endblock %}