{% extends "base.html" %}
{% load static %}

<!-- Extend for more links/styles -->
{% block head %}
<link href="{% static 'css/shopping-cart.css' %}" rel="stylesheet">
{% endblock %}

<!-- Body -->
{% block body %}
<section class="home-section">
  <h1 class="text-center home-heading">Shopping Cart - (subtotal: ${{subtotal}})</h1>

  <ul class="shopping-list">
  {% for item in cart.order_set.all %}
    <li class="shopping-list-item">
      <div class='shopping-item-left'>
        <a href="{% url "main:product-detail" id=item.product.id %}">
        <img src="{{ item.product.image.url }}" alt="" />
        </a>
      </div>
      <div class='shopping-item-right'>
        <a href="{% url "main:product-detail" id=item.product.id %}">
          <h3>{{ item.product.name }} (x{{item.quantity}})</h3>
        </a>
        <p>Price: ${{ item.price }}</p>
        <p>Date Added: {{ item.created_date }}</p>
        <div class="submit-button">
          <form class="first-button" action="{% url 'main:remove-order' id=item.id type=1%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove One" class="btn btn-danger" />
          </form>
          <form class="second-button" action="{% url 'main:remove-order' id=item.id type=2%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove All" class="btn btn-danger" />
          </form>
        </div>
      </div>
      
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}

<!-- Extend for more scripts-->
{% block end %}
{% endblock %}