.shopping-list {
  list-style: none;
}

.shopping-list-item {
  background-color: #F9F9F9;
  border: #888888 solid 1px;
  box-shadow: 5px 10px 8px #888888;
  height: 200px;
  margin-bottom: 20px;
  padding: 2px;
}

.shopping-list-item img {
  width: 100%;
  height: 96%;
}


.shopping-item-left {
  float: left;
  height: 200px;
  width: 150px;
  margin-right: 10px;
}

.shopping-item-right {
  margin-top: 10px;
}

.shopping-item-right h3 {
  color: blue;
}

.shopping-item-right a{
  color: black;
  text-decoration: none;
}